<ion-header [translucent]="true">




</ion-header>


  <app-header></app-header>
  
  <section class="containerPomo">
  

    <div class="containerItems">
           <input id="min" class="inputStyle" type="" name="" value="01"> : 
           <p  id="sec" class="inputStyle2">10</p>
    </div>

    <div style="position:relative">
    <button (click)="startEvent()" type="button" class="buttonStyle"><img class="startStyle" src="/assets/img/pomoIcons/start.png" alt=""></button>
      
    </div>
   
  </section>




